body{
	margin: 0;
	padding: 0;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

a{
	text-decoration: none;
}

.main-header{
	background-color: #eeeeee;
}
    /*Навигация*/
.main-navigation{
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.site-navigation,
.basket{
	list-style: none;
}

.site-navigation a,
.basket a{
	color: #000000;
	font-weight: 500;
}

.site-navigation a:hover,
.basket a:hover{
	color: #fb565a;
}

.site-navigation a:active,
.basket a:active{
	color: #000000;
	opacity: 0.3;
}
    /*Слайдер*/
.slider-left h2,
.slider-center h2,
.slider-right h2{
	font-size: 55px;
	line-height: 55px;
	text-align: left;
}

.slider-info{
	text-align: left;
}
    /*Веб-сайты,Приложения,Презентации*/
.work-site{
	list-style: none;
}

.work-site h3{
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
}

.work-site p{
	text-align: left;
}
    /*Промо с лева*/
.promo-big{
	font-size: 45px;
	line-height: 45px;
	text-align: left;
}

.promo-little{
	text-align: left;
}

.promo-work{
	list-style: none;
}
    /*Промо с права*/
.procent{
	font-size: 45px;
}

.procent-work{
	line-height: 18px;
}
    /*Бренды*/
.brand-logo a{
	opacity: 0.2;
}

.brand-logo a:hover{
	opacity: 1;
}

.brand-logo a:active{
	opacity: 0.1;
}
   /*Карта.Адрес на карте*/
.map-info{
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
}

.map-contact p{
   line-height: 18px;
}
    /*Футер*/
.discount-frend{
	font-size: 36px;
	font-weight: bold;
    line-height: 36px;
}    