body{
	margin: 0;
	padding: 0;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

a{
	text-decoration: none;
}

.main-header-catalog{
	height: 280px;
}
.main-header{
	background-color: #eeeeee;

}
    /*Навигация*/
.main-navigation{
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.site-navigation,
.basket{
	list-style: none;
}

.basket::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;

    background-image: url("img/cart-icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation a,
.basket a{
	color: #000000;
	font-weight: 500;
	vertical-align: middle;
}

.site-navigation a:hover,
.basket a:hover{
	color: #fb565a;
}

.site-navigation a:active,
.basket a:active{
	color: #000000;
	opacity: 0.3;
}

.site-navigation li:hover,
.user-basket:hover{
    border-bottom: 2px solid #f53069;
}

.slider-info{
	text-align: left;
}
    /*Веб-сайты,Приложения,Презентации*/
.work{
	list-style: none;
	border-bottom: 2px solid #eeeeee;
}

.work h3{
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
}

.work-site p{
	text-align: left;
}

.work-button{
	display: inline-block;
    width: 160px;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    background-color: #fb565a;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 3px;
}

.work-button:hover{
    background-color: #e74246;
}

.work-button:active{
    background-color: #d7373b;
}

.attachment-button{
	display: inline-block;
    width: 160px;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    background-color: #00ca74;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 3px;
}

.attachment-button:hover{
    background-color: #00bc6c;
}

.attachment-button:active{
    background-color: #00aa62;
}

.presentation-button{
	display: inline-block;
    width: 160px;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    background-color: #efc84a;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 3px;
}

.presentation-button:hover{
    background-color: #eab534;
}

.presentation-button:active{
    background-color: #e5a722;
}




    /*Промо с лева*/

.promo-big{
	font-size: 45px;
	line-height: 45px;
	text-align: left;
}

.promo-little{
	text-align: left;
}

.promo-work{
	list-style: none;
}
    /*Промо с права*/
.procent{
	font-size: 45px;
}

.procent-work{
	line-height: 18px;
}
    /*Бренды*/
.brand-logo a{
	opacity: 0.2;
}

.brand-logo a:hover{
	opacity: 1;
}

.brand-logo a:active{
	opacity: 0.1;
}
   /*Карта.Адрес на карте*/
.map-info{
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
}

.map-contact p{
   line-height: 18px;
}
    /*Футер*/
.discount-frend{
	font-size: 36px;
	font-weight: bold;
    line-height: 36px;
}
    /*Попап*/
.modal {
    font-size: 16px;
	line-height: 18px;
	font-weight: bold;
} 

.modal-promo{
	font-size: 45px;
	line-height: 45px;
}

.login-form input[type="text"],
.login-form input[type="email"]{
	font-size: 16px;
	color: #d7dcde;
	border: 2px solid #d7dcde;
}

.login-form input:hover{
	border-color: #b4b9bb;
}

.login-form input:focus{
	color: #000000;
	border-color: #000000;
}


  /*Страница каталога*/
h1{
	font-size: 55px;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 110px;
}

.catalog-item a{
	font-size: 18px;
	font-weight: bold;
}

.catalog{
	text-align: center;
}

 /* ------Стили сетки*------*/


html,
body{
	min-width: 1200px;
}

.main-header{
	padding-top: 45px;
	padding-right: 20px;
	padding-left: 20px;
}
.main-logo{
	width: 160px;
}

.site-navigation{
	width: 440px;
}

.user-basket{
	width: 110px;
}

.basket{
	margin-left: 50px;
}

.main-navigation{
	display: flex;
	justify-content: space-between;
}

.site-navigation{
    display: flex;
	justify-content: space-between;
}

.container{
	padding-left: 20px;
	padding-right: 20px;
}

.work{
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 0px;
}

.work li{
	width: 300px;
}

.promo{
	display: flex;
	justify-content: space-between;
    margin-top: 80px;
	margin-bottom: 80px;
	padding: 0px;
}

.left-promo{
	width: 660px;
}

.right-promo{
	width: 360px;
}

.brand-logo{
	display: flex;
	justify-content: space-between;
}

.brand-logo a{
	width: 260px;
}

.main-footer{
	display: flex;
	margin-top: 70px;
	margin-bottom: 70px;
	padding-right: 20px;
	padding-left: 20px;
}

.footer-button{
	width: 260px;
	align-items: center;
	display: flex;
}

.main-footer-wrapper{
    width: 140px;
}

.discount{
	width: 560px;
}

      /*----Flex catalog-----*/

.colum-catalog{
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.form{
	width: 260px;
	display: flex;
	flex-direction: column;
}

.right-column{
	width: 760px;
	display: flex
	flex-direction: column;
}

.catalog{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

     /*  слайдер */     

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  background-color: #eeeeee;
  
  /* Временно для демонстрации */

}

.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}