body{
	margin: 0;
	padding: 0;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

a{
	text-decoration: none;
}

.main-header-catalog{
	height: 280px;
}
.main-header{
	background-color: #eeeeee;

}
    /*Навигация*/
.main-navigation{
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.site-navigation,
.basket{
	list-style: none;
}

.basket::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;

    background-image: url("../img/cart-icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}



.site-navigation a,
.basket a{
	color: #000000;
	font-weight: 500;
	vertical-align: middle;
}

.site-navigation a:hover,
.basket a:hover{
	color: #fb565a;
}

.site-navigation a:active,
.basket a:active{
	color: #000000;
	opacity: 0.3;
}

.site-navigation li:hover,
.user-basket:hover{
    border-bottom: 2px solid #f53069;
}

.slider-info{
	text-align: left;
}
    /*Веб-сайты,Приложения,Презентации*/
.work{
	list-style: none;

}

.work h3{
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
}

.work-site p{
	text-align: left;
}

.work-button{
	display: inline-block;
    width: 160px;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    background-color: #fb565a;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 3px;
}

.work-button:hover{
    background-color: #e74246;
}

.work-button:active{
    background-color: #d7373b;
}

.attachment-button{
	display: inline-block;
    width: 160px;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    background-color: #00ca74;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 3px;
}

.attachment-button:hover{
    background-color: #00bc6c;
}

.attachment-button:active{
    background-color: #00aa62;
}

.presentation-button{
	display: inline-block;
    width: 160px;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    background-color: #efc84a;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 3px;
}

.presentation-button:hover{
    background-color: #eab534;
}

.presentation-button:active{
    background-color: #e5a722;
}




    /*Промо с лева*/

.promo-big{
	font-size: 45px;
	line-height: 45px;
	text-align: left;
}

.promo-little{
	text-align: left;
}

.promo-work{
	list-style: none;
}

.promo-work li::before{
	content: "";
	position: absolute;
	left: -35px;
	top: 9px;
    width: 25px;
    border: 1px solid #fb565a;
}

.promo-work li{
	position: relative;
	margin-bottom: 20px;
}      


      /*Промо с права*/
.procent{
	font-size: 45px;
}

.procent-work{
	line-height: 18px;
}

.right-promo table{
    border-spacing: 0px 30px;
}


    /*Бренды*/

.brand-logo a{
	opacity: 0.2;
}

.brand-logo a:hover{
	opacity: 1;
}

.brand-logo a:active{
	opacity: 0.1;
}




   /*Карта.Адрес на карте*/

.map{
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
	height: 416px;
}

.map-info{
	font-size: 18px;
	font-weight: bold;
	padding-top: 50px;
	padding-left: 50px;
}

.map-addres{
	padding-top: 30px;
	padding-left: 50px;
}

.map-tel{
	padding-left: 50px;
	padding-top: 15px;
}

.map-contact {
	width: 320px;
	height: 310px;
	background-color: #ffffff;
	position: relative;
	top: 50px;
}

.map-button{
	display: inline-block;
    width: 220px;
    height: 50px;
    margin-left: 50px;
    font-size: 16px;
    color: #ffffff;
    background-color: #fb565a;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 3px;
}


    /*Футер*/
.discount-frend{
	font-size: 36px;
	font-weight: bold;
    line-height: 36px;
}

.social-button{
	display: flex;
    align-items: center;
    justify-content: center;
	width: 80px;
	height: 80px;
	background-color: #e1e1e1;
    text-align: center;
    border-radius: 50% 50%;
}




    /*Попап*/
.modal {
    font-size: 16px;
	line-height: 18px;
	font-weight: bold;
} 

.modal-promo{
	font-size: 45px;
	line-height: 45px;
}

.login-form input[type="text"],
.login-form input[type="email"]{
	font-size: 16px;
	color: #d7dcde;
	border: 2px solid #d7dcde;
}

.login-form input:hover{
	border-color: #b4b9bb;
}

.login-form input:focus{
	color: #000000;
	border-color: #000000;
}


  /*Страница каталога*/
h1{
	font-size: 55px;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 110px;
}

    /*--- Радио кнопки и чекбоксы-- */

.left-column p{
	font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

input[type="checkbox"],
input[type="radio"] {
    display:none;
}

.radio-custom {
	width: 18px;
	height: 18px;
	border: 3px solid #a6a6a6;
	border-radius: 50%;
	position: relative;
}

.checkbox-custom,
.radio-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	background: #a6a6a6;
	border-radius: 2px;
}

.radio:checked + .radio-custom::before {
	border-radius: 50%;
}

.label{
	margin-left: 10px;
	font-size: 16px;
	line-height: 35px;
}

.checkbox-custom {
	position: relative;
	width: 20px;             
	height: 20px;           
	border: 2px solid #a6a6a6;
	border-radius: 3px;
}

.checkbox:checked + .checkbox-custom::before {
	content: "\2714";            
	display: block;			 
	position: absolute;     
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;    
	border-radius: 2px;
}


.form-button {
	font-size: 16px;
    text-transform: uppercase;
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 2px;
}

.form-button:hover{
	background-color: #dfdfdf;
}





    /* Каталог*/

.catalog-sort-title{
	font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 260px;
}

.catalog-sort-option{
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	margin-right: 25px;
	opacity: 0.3;
}

.catalog-sort-option:hover{
    opacity: 0.6;
}

.catalog-sort-option:active{
    opacity: 1;
}

.button-arrow-down{
	margin-left: 25px;
}

.button-arrow-down path,
.button-arrow-up path{
    fill: #ededed;
}

.button-arrow-down:hover path,
.button-arrow-up:hover path{
    fill: #a6a6a6;
}

.button-arrow-down:active path,
.button-arrow-up:active path{
    fill: #272324;
}



    /*--------------*/

.catalog{
	text-align: center;
}

.catalog-header{
	height: 40px;
	background-color: #e9e9e9;
	display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    border-radius: 3px 3px 0 0;
}

.catalog-circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: 5px;
}

.catalog-footer{
	height: 230px;
	width: 360px;
	background-color: #eeeeee;
	display: none;
	position: absolute;
	bottom: 0;
}

.catalog-item a{
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	display: block;
	padding-top: 30px;
	margin-bottom: 25px;
}
.catalog-footer p{
	color: #666666;
}

.catalog-price{
    font-size: 16px;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    color: #ffffff;
    background-color: #fb565a;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 2px;
}

.catalog-price:hover{
	background-color: #e74246;
}

.catalog-price:active{
	background-color: #d7373b;
}

.catalog-item{
	position: relative;
	margin-bottom: 30px;
}

.catalog-item:hover .catalog-footer{
    display: block;
}

.catalog-item:hover .catalog-header{
    background-color: #4d4d4d;
}

.catalog-switch-active{
	display: block;
	height: 45px;
	width: 45px;
	background-color: #ffffff;
	border: 3px solid #eeeeee;
	text-align: center;
	line-height: 45px;
}




 /* ------Стили сетки*------*/


html,
body{
	min-width: 1200px;
}

.main-header{
	padding-top: 45px;
	padding-right: 20px;
	padding-left: 20px;
}
.main-logo{
	width: 160px;
}

.site-navigation{
	width: 440px;
}

.user-basket{
	width: 110px;
}

.basket{
	margin-left: 50px;
}

.main-navigation{
	display: flex;
	justify-content: space-between;
}

.site-navigation{
    display: flex;
	justify-content: space-between;
}

.container{
	padding-left: 20px;
	padding-right: 20px;
}

.work{
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 0px;
}

.work li{
	width: 300px;
}

.promo{
	border-top: 2px solid #eeeeee;
	display: flex;
	justify-content: space-between;
    margin-top: 80px;
	margin-bottom: 80px;
	padding: 0px;
}

.left-promo{
	width: 660px;
}

.right-promo{
	width: 360px;
}

.brand-logo{
	display: flex;
	justify-content: space-between;
}

.brand-logo a{
	width: 260px;
}

.main-footer{
	display: flex;
	margin-top: 70px;
	margin-bottom: 70px;
	padding-right: 20px;
	padding-left: 20px;
}

.footer-button{
	width: 260px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.main-footer-wrapper{
    width: 140px;
}

.discount{
	width: 560px;
}

      /*----Flex catalog-----*/

.colum-catalog{
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.form{
	width: 260px;
	display: flex;
	flex-direction: column;
}

.right-column{
	width: 760px;
	display: flex
	flex-direction: column;
}

.catalog{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog-switch{
	display: flex;
	
}



     /*  слайдер */     

.container {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  background-color: #eeeeee;
  
  /* Временно для демонстрации */

}

.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}



/*--- Котнтроллер формы---*/
.filter-item {
  margin: 0;
  padding: 0;
  
  border: none; 
  margin-bottom: 50px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
